#title {
    text-align: center;
}

#parent_div {
    display: flex;
    flex-direction: row;
}

#grid-section {
    position: relative;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 34rem;
    height: 34rem;
    border: 2px solid black;
}

div.grid {
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    margin: 0;
}

select {
    font-size: 25;
    border: 2px solid black;
}

#new_glyph {
    border: 2px solid black;
}

#font_area {
    height: 334px;
    width: 330px;
    border: 2px solid black;
}

#glyph_div {
    position: relative;
    left: 15%;
}

#font_div {
    position: relative;
    left: 18%;
}

#font_output {
    resize: both;
}