
#grid-section {
    position: relative;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40rem;
    height: 40rem;
}

div.grid {
    background-color: black;
    height: 9rem;
    width: 9rem;
    color: white;
    margin: 0;
    margin-right: 1rem;
}