#grid-section {
    position: relative;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 34rem;
    height: 34rem;
}

div.grid {
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    margin: 0;
}

#font_div {
    position: relative;
    left: 60%;
}

#font_output {
    resize: both;
}